<h1 id="delete-account-title"><%= title %> </h1>
<h2 class="title-flavor">Confirm Deletion</h2>

<h3 class="delete-confirm-warning">THE DELETION IS PERMANENT</h3>

<div class="flash-messages">
    <%- messages() %>
    <% if (errors) { %>
        <ul class="error">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>
</div>

<form id="delete-account-form" class="submission-form" action="/account/delete" method="post">
    <input type="hidden" name="account_id" id="account_id" value="<%= locals.accountData.account_id %>">
    <label>
        <span class="label-field-name">First Name:</span>
        <input 
            readonly
            type="text" 
            name="account_firstname" 
            id="account_firstname"
            required
            value="<%= locals.accountData.account_firstname %>">
    </label>
    <label>
        <span class="label-field-name">Last Name:</span>
        <input 
            readonly
            type="text" 
            name="account_lastname" 
            id="account_lastname"
            required
            value="<%= locals.accountData.account_lastname %>">
    </label>
    <label>
        <span class="label-field-name">Email:</span>
        <input 
            readonly
            type="email" 
            name="account_email"
            id="account_email"
            required
            value="<%= locals.accountData.account_email %>">
    </label>
    <button type="submit" class="button delete-button">DELETE</button>
</form>
